.env
# Node.js
node_modules/
.dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
debug.log

# Dependency directories
node_modules/
jspm_packages/

# Build files
dist/
build/

# Temporary files
*.tmp
*.temp

# Operating System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
*.bak

# Debugging tools
coverage/
nyc_output/
.v8flags.*

# Miscellaneous
*.local
*.pid
*.seed
*.pid.lock

security_todo.txt
